ul {
    list-style-type: none;
    margin: 0px;
    padding: 6px;
    overflow: hidden;
   background-color: blueviolet;
}
body{
  background-image: url('https://wallpapertag.com/wallpaper/full/1/4/2/593263-beautiful-lion-pictures-wallpaper-1920x1080.jpg');  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
  
li
{
 float: left;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

.mh
{
    background-color: aqua;
    color:purple;
    padding: 1px;
    text-align: center;
}
.container
{
  background-color: rebeccapurple;
  width: 48px;
  height: 48px;
}
